h1,h2,h3,h4,h5,a
  color: #08105a

.navbar a:hover
  text-decoration: none
  color: #000

a:hover
  color: #000
  text-decoration: underline

.blanquito
  background-color: #fff
  color: #000

.blanquito:hover
  background-color: #babff3
  text-decoration: none

.botonazul
  background-color: $main-color

.botonazul:hover
  background-color: #08082c
  text-decoration: none

.claro
  background-color: #babff3
  color: #fff

.claro:hover
  background-color: #a5adee
  text-decoration: none
  color: #fff

.inicio
  color:#babff3
