h1,h2,h3,h4,h5,a
  @extend .textos
  

.navbar a:hover
  text-decoration: none
  color: #000

a:hover
  color: #000
  text-decoration: underline

.blanquito
  background-color: #fff
  color: #000

.blanquito:hover
  background-color: #e2e3ec
  text-decoration: none
  color:  #000

.botonazul
  background-color: #1c2150

.botonazul:hover
  background-color: #08082c
  text-decoration: none

.claro
  background-color: #c5caeb
  color: #fff

.claro:hover
  background-color: #b2b8eb
  text-decoration: none
  color: #fff

.inicio
  color:#babff3
